[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rafal/Pulpit/Pliczek]
row=3
col=0

[/home/rafal/Pulpit/plik.txt]
row=2
col=0

[/home/rafal/Pulpit/plik2.txt]
row=1
col=0

[/home/rafal]
row=0
col=0

